/*顶部控件布局设计*/
.HBoxTop{
    -fx-pref-height: 70;
    /*-fx-border-color: blue;*/
    -fx-alignment: CENTER-RIGHT;
    -fx-spacing: 10;
}
/*隐藏水平滚动条*/
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
/*清除控件点击时边框变蓝效果*/
.table-view ,TextField,Button{
    -fx-focus-color: #c8c8c8;
    -fx-faint-focus-color: transparent;
    -fx-cell-focus-inner-border: transparent;
    -fx-cell-focus-color: transparent;
}
#TableColumn .column-header-background,
#TableColumn .resize-handle {
    -fx-background-color: transparent;
}
.TableColumn{
    -fx-alignment: CENTER;
}
/*主界面最上方锚点布局的大小*/
.lastAnchor{
    -fx-pref-width: 501;
    -fx-pref-height: 100;
}
