/*登录界面背景图片*/
.VboxPane{
    -fx-background-image: url("../../IMG/bgc.jpg");
    -fx-background-size: cover;  /* 根据需要调整背景图片大小 */
}
/*清除文本框边框变蓝效果*/
.text-field:focused {

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: -fx-box-border;
}
.text-field{
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}
Button{
    -fx-background-color: #24c9fe;
    -fx-background-radius: 7;
}
Button:hover{
    -fx-background-color: #4399fe;
}
/* 在你的 CSS 文件中添加以下样式 */
#image_container {
    -fx-pref-height: 30;
    -fx-pref-width: 100;
}

